
    <div class="container receipt-border ">
        <div class="mt-3" >
            <div class="clearfix text-center">
                <div style="float:left;width:20%;">
                    <img src="logo.png" width="100%" class="text-center" alt="posting">
                </div>
                <div style="float:left;width:60%;">
                    <h3>Registered V.P.P for Rs.317/- only</h3>
                    <p class="text-center fnt-12">(RUPEES THREE HUNDRED SEVENTEEN ONLY )</p>
                </div>
                <div style="float:left;width:20%;">
                        <img src="logo.png" class="text-center" width="100%" alt="Smiley face">
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row pt-2 clearfix pb-2" >
                <div class="article  vpp-form-border-right" style="float:left;width:50%;">
                    <div class="article-wrapper pl-20">
                        <p></p>
                        <h4>Contents </h4>
                        <p class="fnt-48">package contains Siddha Medicine</p>
                    </div>
                </div>
                <div class="article"  style="float:left;width:45%;">
                    <div class="article-wrapper pl-20">
                        <p></p>
                        <h3>To,</h3>
                        <p>Udhyakumar </p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-2 fn-14 add-fnt-15 pl-20">
            <p>If undelivered , Please return to</p>
            <p>Arivan Siddha & Varmam Click, 3/10 Nammazhvar Street,jagadambiagi Nagar,</p>
            <p>Padi, Chennai - 600 050 Mobile: <span>XXXXXXX</span></p>
        </div>
    </div>
